<!DOCTYPE HTML>
<html>
<head>

</head>
<body>

    <div id="sse">
        <a href="javascript:MeasurementsSocket()">Run WebSocket</a>
    </div>
    <div id="readings">
    <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript">
        var ctx = document.getElementById("myChart");
        var chart_data = {datasets:[{label:"reading1", data:[{x:Date.now(), y:0}]}]};
        var test_chart = new Chart(ctx, {
                    type: 'line',
                    data: chart_data,
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'linear',
                                position: 'bottom'
                            }]
                        }
                    }
                });

        function UpdateChart(data){
            chart_data.datasets[0].data.push({
                x: Date.now(), 
                y: data[0].value
            });
            window.test_chart.data = data;
            window.test_chart.update();
        }

        function MeasurementsSocket() {
            if ("WebSocket" in window) {               
                // Let us open a web socket
                var ws = new WebSocket("ws://localhost:5000/measurements");

                ws.onopen = function() {

                };

                ws.onmessage = function (evt) { 
                    var received_msg = JSON.parse(evt.data);
                    if (received_msg.msg_type === 'update_clients')
                        UpdateChart(received_msg.data);
                };

                ws.onclose = function() { 
                // websocket is closed.
                alert("Connection is closed..."); 
                };
            } else {
                // The browser doesn't support WebSocket
                alert("WebSocket NOT supported by your Browser!");
            }
        }
    </script>
</body>
</html>
